<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Let's Roll in Manchester</title>
  <link rel="stylesheet" href="../css/login.css">
  <header>
    <h1>Let's Roll in MANCHESTER</h1>
  </header>
</head>

<body>
  <div class="wrapper">
    <div class="title-text">
      <div class="title login">
        Login Form
      </div>
      <div class="title signup">
        Signup Form
      </div>
    </div>
    <div class="form-container">
      <div class="slide-controls">

        <input type="radio" name="slide" id="login" checked>
        <input type="radio" name="slide" id="signup">
        <label for="login" class="slide login">Login</label>
        <label for="signup" class="slide signup">Signup</label>
        <div class="slider-tab"></div>
      </div>
      <div class="form-inner">
        <form action="#" class="login">
          <div class="field">
            <input type="text" placeholder="Email Address" id="email1">
          </div>
          <div class="field">
            <input type="password" placeholder="Password" id="password1" required>
          </div>
          <div class="pass-link">
            <a href="#">Forgot password?</a>
          </div>
          <div class="field btn">
            <div class="btn-layer"></div>
            <input type="submit" value="Login" onclick=login()>
          </div>
          <div class="signup-link">
            Not a member? <a href="">Signup now</a>
          </div>
        </form>
        <form action="#" class="signup">
          <div class="field">
            <input type="text" placeholder="Email Address" id="email">
          </div>
          <div class="field">
            <input type="text" placeholder="Contact Number" id="phone">
          </div>
          <div class="field">
            <input type="password" placeholder="Password" required>
          </div>
          <div class="field">
            <input type="password" placeholder="Confirm password" id="password" required>
          </div>
          <div class="field btn">
            <div class="btn-layer"></div>
            <input type="submit" value="Signup" onclick="signUp()">
          </div>
        </form>
      </div>
    </div>
  </div>
</body>
<script src="../controllers/LoginSignup.js"></script>


</html>